a {
  text-decoration: none;
}
.main-section__desc-name {
  font-size: xxx-large;
}

.main-section {
  position: relative;
  margin-bottom: 500px;
}

.main-section__left {
  background-color:var(--secondary-color);
  height: 100vh;
  /* opacity: 0.5; */
  position: absolute;
  width: 50%;
  margin: -105px 60px 0px 0px;
  z-index: 0;
}

.main-section__desc {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
