

/* desktop */
@media screen and (min-width:960px) {
  .experience__heading {
    display: flex;
    margin: 100px 50px 70px 200px;
    background-color:var(--secondary-color);
    width: fit-content;
    border-radius: 1rem;
    padding: 0px 0.8rem;
    font-size: xx-large;
  }
  .experience {
    display: flex;
    justify-content: flex-start;
    margin: 0px 50px 0px 200px;
  }
  
  .experience__container {
    display: flex;
  }
  
  .experience--bullet-orange {
    background-color: var(--primary-color);
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border-style: hidden;
    margin: 0px 10px 0px 70px;
  }
  
  .organize-div {
    display: flex;
    flex-direction: column;
  }
  
  .experience__date {
    color:var(--primary-color);
  }
  
  .experience__info--title {
    font-size: 1.5rem;
  }
  
  .divider-line {
    margin: "100px 300px 0px 200px";
  }
  
}
