mark {
  background-color: var(--secondary-color);
}

.about__heading {
  font-size: xxx-large;
}

/* mobile */
@media screen and (max-width: 600px) {
  .about {
    display: flex;
    justify-content: center;
    margin: 0px 50px;
  }

  .about-container {
    display: flex;
    flex-direction: column;
  }

  .about__image-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about__image {
    width: 300px;
  }

  .about__info {
    display: flex;
    align-items: center;
    margin: 20px;
  }

  button {
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    /* border-color: buttonborder; */
    border-image: initial;
    background-color: var(--primary-color);
  }
}

/* ******************************************************************** */

/* tablet */
@media screen and (min-width: 600px) and (max-width: 900px) {
  .about {
    display: flex;
    justify-content: center;
    margin: 0px 50px;
  }

  .about-container {
    display: flex;
    flex-direction: column;
  }

  .about__image-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about__image {
    width: 500px;
  }

  .about__info {
    display: flex;
    align-items: center;
    font-size: x-large;
    margin: 20px;
  }

  button {
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    /* border-color: buttonborder; */
    border-image: initial;
    background-color: var(--primary-color);
  }
}

/* ************************************************************ */
/* desktop */
@media screen and (min-width: 900px) {
  .about {
    display: flex;
    justify-content: center;
    margin: 0px 50px;
  }

  .about-container {
    display: flex;
  }

  .about__image-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about__image {
    width: 500px;
  }

  .about__info {
    display: flex;
    align-items: center;
    font-size: x-large;
  }

  button {
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    /* border-color: buttonborder; */
    border-image: initial;
    background-color: var(--primary-color);
  }
}
