mark{
    background-color: #f8d4b1;
}

.about-me_heading{
    font-size: xxx-large;
}

.about-me{
display: flex;
justify-content: center;
margin: 0px 50px;

}

.about_me{
    display: flex;
}
.info_container{
    display: flex;
    align-items: center;
    font-size: x-large;
    /* margin-right: 80px; */
}


button{
    margin: 0em;
        padding: 1px 6px;
        border-width: 2px;
        border-style: outset;
        border-color: buttonborder;
        border-image: initial;
        background-color: aqua;
}

